

header,footer{
    background-color: rgb(82, 70, 70);
    
    }
body{
        background-color: rgb(175, 165, 165);
    }
    footer{
        position: fixed;/*mok on fixe la position du footer*/
        bottom: 0;/*bottom permet de fixer vers le bas le footer*/
        width: 100%;/*permet de prendre toute la nlargeur de l'ecran*/
        color:var(--color1);/*mok pour appeler une variable deaja existante on ecrit var(--on appel la variable en question*/
    }
    