html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div,
a,
header,
footer,
nav,
article,
section {
    display: flex;
    flex: 1;
}

img,
video {
    width: 100%;
}

.colonne {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}


.regleTimer {
    display: flex;
}

.regle {
    flex: 5;
}


main {
    background-color: #3f864ed2;
    height: 75vh;
    width: 75vw;
    display: flex;
    border-radius: 1em;
}

.ligne {
    display: flex;
    padding: 1em;
}

.ligne button {
    flex: 1;
    background-color: rgb(173, 181, 178);
    justify-content: center;
    margin-right: 0.5em;
    border-radius: 1em;
    align-items: center;

}