
/********** GRIDS **********/

.grid-col-5 {
	display : grid;
	border : 3px solid #e2a9c6;
	grid-template-columns : 2fr 2fr 0.5fr 0.5fr 0.5fr;}

.grid-columns-span-5 { 
	grid-column:1/6;
}

.grid-col-8 {
	display : grid;
	border :3px solid #e2a9c6;
	grid-template-columns : 2fr 2fr 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;}

.grid-columns-span-8 { 
	grid-column:1/9;
}

.gridListe div,button,a {
	justify-content: center;
	align-items: center;
}

.caseListe {
	border: 3px solid #e2a9c6;
	padding : 0.2em;
}

.caseForm {
	border: 3px solid #00aaff;
	padding : 0.2em;
}

.GridForm {
	 display : grid;
	grid-template-columns: 2fr 2fr 0.5fr 0.5fr;
	grid-gap: 0.5em;
}

.GridForm div,button,a {
	justify-content: center;
	align-items: center;
}

.flex-0-1 {
	flex:0.1;
}

.gridForm-col-span {
	grid-column: 1/5 ;
}