html,
body {
    margin: 0;
    padding: 0;
    background-color: blue;
}
div,main,body,header{
   display:flex;
   flex:1;
}

img,
video {
    width: 100%;
}
.centrer{
    justify-content: center;
}

.orange {
    background-color: orange;
    

}
.column{
    flex-direction: column;
}


.gris {
    flex: 3;
    background-color: grey;
}


.jaune {
    flex: 3;
    background-color: yellow;
}

.espace1 {
    flex: 0.1;
   

}
.espaceH{
flex:none;
height: 2vh;
}

.vert {
    flex: 4;
    background-color: green;
}