html,
body {
    margin: 0;
    padding: 0;
}
.column{
    flex-direction: column;
}
.entete{
    position: fixed;
    flex-direction: column;
    width: 100%;
}

body {
   
    background-position: 100%;
     display: flex; 
  background-color: pink;
}
.titre>h3{
    margin: 0%;
   
}

div {
    display: flex;
    flex: 1;
}
 /* img{
    width: 15%;
}  */
video {
    width: 30%;
    margin-top: 20vh;
}

.espace {
    height: 5vh;
}
 /* .logo{
    background-color: rgb(243, 165, 250);
    position: left;
    justify-content: left;
    height: 150px;
}   */
.photo{
    position: left;
    width: 100%;
    background-image: url("./image/images.jfif");
     background-size: cover;
    background-position-y: 50%;
    
}
.menu{
   
    flex: none; 
    background: linear-gradient(to bottom, pink);
    border: solid rgb(242, 110, 132) 3px;
    border-radius: 5px;
    font-size: 2em;
    color: pink;
    padding: 0 0.5vw;
    position: relative;
    cursor: pointer;
}
.sousMenu{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -0.5vw;
    background: linear-gradient(to bottom pink);
     border: solid #f589ff 3px;
    border-radius: 5px; 
    color: pink;
    padding: 0 0.5vw;
    font-size: 0.8em;
    white-space: nowrap;   /*evite le retour à la ligne du sous menu*/
}
.menu:hover .sousMenu{
    display: flex;
    cursor: pointer;
}
.sousItem:hover{
        color: #ccc;
        border: 1px solid #ccc;
    
   
}
.brownie
{
    flex: 3;

    height: 20vh;
    background-color: pink;
   
    background: linear-gradient(to bottom, pink 50%, pink 100%);
    
}


.recette{
    overflow-y: scroll;  
}
.texte{
   background-color: rgb(252, 225, 230);
    position: center;
    flex-direction: column;
    border-radius: 10px;
    background-size: cover;
    display: block;
    flex: 1;
    
}