html,
body {
    margin: 10px;
    padding: 10px;
}
.column{
    flex-direction: column;
}

body {
    /* background-color: rgb(236, 208, 243); */
    background-position: 100%;
     display: flex; 
  background-color: rgb(184, 145, 145);
}
.titre>h3{
    margin: 0%;
   
}

div {
    display: flex;
    flex: 1;
}
/* img{
    width: 15%;
} */
video {
    width: 100%;
}

.espace {
    height: 5vh;
}
.logo{
    background-color: rgb(243, 165, 250);
    position: left;
    justify-content: left;
    height: 150px;
} 
.photo{
    position: left;
    width: 100%;
    background-image: url("./image/images.jfif");
     background-size: cover;
    background-position-y: 50%;
    
}
.menu{
   
    flex: none; 
    background: linear-gradient(to bottom, pink);
    border: solid pink 3px;
    border-radius: 5px;
    font-size: 2em;
    color: white;
    padding: 0 0.5vw;
    position: relative;
}
.sousMenu{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -0.5vw;
    background: linear-gradient(to bottom pink);
    border: solid #326280 3px;
    border-radius: 5px;
    color: white;
    padding: 0 0.5vw;
    font-size: 0.8em;
    white-space: nowrap;   /*evite le retour à la ligne du sous menu*/
}
.menu:hover .sousMenu{
    display: flex;
   
}
.brownie
{
    flex: 3;

    height: 20vh;
    background-color: pink;
   
    background: linear-gradient(to bottom, pink 50%, rgba(229, 229, 229, 1) 100%);
    
}
.recette{
    overflow-y: scroll; 
}
.texte{
    background-image: url("./image/bois.jpg");
    position: center;
    flex-direction: column;
    border-radius: 10px;
    
}